appdirs==1.4.0
beautifulsoup4==4.5.3
bs4==0.0.1
click==6.7
DateTime==4.1.1
Flask==0.12
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
pyparsing==2.1.10
PySocks==1.6.6
pytz==2016.10
requests==2.13.0
six==1.10.0
twilio==5.7.0
Werkzeug==0.11.15
zope.interface==4.3.3
